<div>
  <h2><%= @restaurant.name %></h2>
  <h3><%= @restaurant.address %></h3>
  <h3><%= @restaurant.phone_number %></h3>
  <h3><%= @restaurant.category %></h3>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.rating %> => <%= review.content %></li>
    <% end %>
  </ul>

  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
  <%= link_to "Update this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

</div>
